@media screen{
    @import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
    margin: -10px 0 0 0;
    padding: 0;
    
    
}
#sideMenu{
    float:left;width:27%;display: none;
    
}
.bodyWrapper{
    width:86%;float:left; 
    
}
#sticky.stick{
    margin-top: 0 !important;
    
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
.googleAds{
        float: right;
    width: 13%;
    background-color: #ffffff;
    height: 500px;
    -webkit-box-shadow: 4px 0px 2px -2px #787878;
    position: fixed;
    margin: 15% 0 0 87%;
}
.dropdown:hover .dropdown-menu{
    display: block;
   
   
  animation-duration:.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;


  -webkit-animation-duration:.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;


  -moz-animation-duration:.2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
 
}

.dropdown-menu:hover{
    display: block;
} 
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
    background-color: #C0392B;color: #fff;
    font-size:17pt;
     text-shadow: 0 0 10px #fff; 
     font-weight: bold; 
     -webkit-transition: text-shadow 0.5s linear;
    -moz-transition: text-shadow 0.5s linear;
    -ms-transition: text-shadow 0.5s linear;
    -o-transition: text-shadow 0.5s linear;
    transition: text-shadow 0.5s linear;
    
}

/*Menu Section ****CUSTOM** DESKTOP* START */
.menuSection {
         min-height: 167px;
    /* background-color: #D91E18; */
    float: left;
    width: 100%;
    /* background-image: url('Assets/Images/ecommBanner.png'); */
    background-repeat: no-repeat;
    background-size: 39%;
    background-position: right -3px;
    -webkit-box-shadow: 1px 0px 0px 1px #dfdfdf;
    /* border-bottom: 1px solid #ee1111; */
}

.menuLists{
     margin: 34px 0 0 18%;
}
.menuSection img{
   /* opacity: 0.11*/
}

.menuLists > ul >li {
    display: inline-block;
    padding: 26px 4px 0px 5px;
    font-size: 20pt;
    font-weight: lighter;
  
}
.menuLists a {
     text-decoration: none;
       color: #000000;
    position: relative;
    display: inline-block;
    /* margin: 15px 25px; */
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* font-weight: 400; */
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
     font-size: 10pt !important;
     color:#ffffff
}
    .menuLists a:hover,
    .menuLists a:focus {
        outline: none;
    }
  
.menuLists a {
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

/*.menuLists a::before,
.menuLists a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #dbfabe;
        
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.menuLists a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.menuLists a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.menuLists a:hover,
.menuLists a:focus {
	color: #dbfabe;
}

.menuLists a:hover::before,
.menuLists a:focus::before,
.menuLists a:hover::after,
.menuLists a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}*/
.showMenuOnMobile {
    display: none;
}
.logoSection {
        height: 122px;
    width: 173px;
    margin: 2% 0 0 1%;
    background-image: url('Assets/Images/Logo1.png');
    background-repeat: no-repeat;
    background-size: 100% 77px;

}

.logoSection div {

-webkit-transform: rotate(312deg);
-moz-transform: rotate(312deg);
-o-transform: rotate(312deg);
writing-mode: lr-tb;
    color: #D91E18;
    font-size: 19pt;
    
}
.saving {
            background-image: url("Assets/Images/heart.svg");
    /* border-radius: 100% 100% 100% 100%; */
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 100px;
    line-height: 77px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: -33px;
    width: 93px;
    margin-right: 79%;
}
.lessThan30{
    /*background-image: url("Assets/Images/happy.png");*/
}
.searchSection {
     
    margin: 0% 0 0 18%;
 /*   background-color: #D91E18*/
    color: #ffffff !important;
    width:640px;

}
    .searchSection > input {
          width: 449px;
    height: 31px;
    box-sizing: border-box;
    padding: 3px 0 0 20px;
   
    border: 2px solid #D91E18;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffffff;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: #000000 !important;
    background-image: url('Assets/images/Search.png');
    background-repeat: no-repeat;
    content: 'Search here..';
    background-position: right -12px;
    }
.searchSection >input:focus, .searchSection >input:hover  {
    width: 449px;
     border: 2px solid #222;
      background-color: #ffffff;
       color:#000000 !important
       
}
.dropdown{
           float: right;
    margin-top: -10.5%;
  
}
.btn-primary{
    color:#000000 !important;
}
.vendorDropdown{
    display: none;
}
.dropdown button{
 background-color: #ffffff;
 border:0;
}
.dropdown button:hover, .dropdown button:focus{
 background-color: #ffffff;
}
.dropdown-menu li a img{
    opacity:1;
}
.dropdown button img{
    opacity:1;
}

.dropdown-menu li a span{
    font-weight: bold;
    padding:10px;
}
/*Menu Section ****CUSTOM** DESKTOP* END */


/*Menu Section ****CUSTOM** MOBILE* START */



.bodyWrapper .productWrapper{
     float:left;width:86%;
 position: absolute;
    z-index: -1;
}





.button {
     /* Green */
    border: none;
    color: white;
    padding: 10px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
    font: normal 10px 'Cabin', helvetica, arial, sans-serif;
    font-weight: bold
} 

.button span {
    padding:5px
}

    .button1 {
    background-color:#009ed9;
    color: #ffffff;
    border-radius: 2px;
    
    border: 1px solid #ffffff;
}
    
.button1:hover {
    background-color: #FFCC00;
    color: white;
    border: 1px solid #f9a114;
}   
.moreButton {
         background-color: #e11111;
    color: #ffffff;
        border-radius: 2px;
  
    }
.moreButton:hover {
          background-color: #e11111;
    color: white;
 
     
    }
    .glyphicon{
        color:#fff;
        padding: 0 16px 0 0;
       
    }
    .dropdown-menu {
        background-color: #C0392B;
        margin-top:-1px !important;
    }
    .dropdown-menu > li > a{
        color:#fff;
        font-size: 10pt;
    }
    
    .products{
          border-radius: 5px;
    color: #222;
    width: 295px;
    height: 250px;
    margin: 1px 3% 3% 34px;
    padding: 2%;
        
       
    }
    .products:hover{
 background: #ffffff;
 color:#ffffff;
 -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    } 
    h5{
              font: 13px 'Cabin', helvetica, arial, sans-serif !important;
   
    padding: 2% 0 6% 0% !important;
    /* font-weight: bold !important; */
    color: #222 !important;
    }

    .wrapper {
height: 374px;
max-height:400px;
    background: white;
    border-radius: 10px;
    width: 275px;
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
   box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
}
.dropdown.categoryDropdown {
    display: none;
}
.products .wrapper div{
    margin-top:83%
}
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #6e8900;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6e8900), to(#00FF00)); 
  background-image: -webkit-linear-gradient(top, #6e8900, #00FF00); 
  background-image:    -moz-linear-gradient(top, #6e8900, #00FF00); 
  background-image:     -ms-linear-gradient(top, #6e8900, #00FF00); 
  background-image:      -o-linear-gradient(top, #6e8900, #00FF00); 
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​
.productWrapper{
   float:left;
   width:73%;
}
#footnote{
    width: 135px !important;
    height: 50px !important;
}
#footnote .clearfix{
     width: 135px !important;
    height: 50px !important;
}
#footnote .connect a {
	background: url('Assets/Images/icons.png') no-repeat;
}

#footnote .connect {
	float: left;
	display: inline-block;
	margin: 0 10px;
	padding: 6px 0;
}
#footnote .connect a {
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-right: 6px;
}
#footnote .connect a.facebook {
	background-position: 0 -112px;
}
#footnote .connect a.twitter {
	background-position: 0 -140px;
}
#footnote .connect a.googleplus {
	background-position: 0 -168px;
}
.wrapper > a > img,  .waitingimg{ 
    height:143px;
}
#left, #right {
    float: left;
    max-width: 3em;
}

.showMoreButton {
        clear:  both;
        text-align: center;
        width:70%;
    min-height: 1.5em;
    display: inline-block;
    padding: 12px 36px;
 
    cursor: pointer;
    opacity: 0.9;
    float:left;
    color: #FFF;
    font-size: 1em;
    letter-spacing: 1px;
   
    
    background: #434343;
    border: 1px solid #eee;
   
   
            margin-left: 10%
}
.showMoreButton:hover {
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
     -khtml-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -o-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
            box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}
.showMoreButton:active {
    -webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px,inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
     -khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px,inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
            box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}
.shine {
    display: block;
    position: relative;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    padding: 0px 12px;
    top: -12px;
    left: -24px;
    height: 1px;
    -webkit-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
     -khtml-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
       -moz-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
         -o-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
            box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
    -webkit-transition: all 0.3s ease-in-out;
     -khtml-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.showMoreButton:hover .shine {left: 24px;}
.showMoreButton:active .shine {opacity: 0;}

.showMoreButton.gray {background: #eee; color:#ee1111; font-weight: bolder}
.showMoreButton.blue { background: linear-gradient(#FFB75E, #ED8F03);color:#000; font-size:1.3em}
.showMoreButton.green {
    background: #477343;
    padding: 2px 14px;
    /* margin: 40px 5px 5px 0px; */
    margin:0;}
.showMoreButton.red {
        background: #00a300;
    padding: 2px 15px;
    /* margin: 40px 5px 5px 0px; */
    margin: 0;
    min-height: 2.5em;
    }
.showMoreButton a, .showMoreButton a:hover{
    color:#ffffff;
    text-decoration: none;
   font-size: 25px 
}
.text-ginormous {
      font-size: 52px;
      color:#000
    }

    .navbar .container.fixed-height {
      height: 46px;
    }

    .brand.airbnb.center {
      float: none;
      margin: 7px auto 0 auto;
    }
  
    #noProducts h2,#noProducts h1{
        padding:1%;
        color:#ee1111;
    }
    .breadcrumbNav{
        color:#000;
        font-size: 9pt;
        margin-top:2%;
         font-weight: bold;
    }
    .breadcrumbNav span{
        font-weight: bold;
        color: #ee1111;
    }
    @import url(http://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop {

	    height: 52px;
    position: absolute;
    /* text-align: right; */
    width: 79%;
    left: 19%;
}


.webdesigntuts-workshop:before {
	background: #444;
	background: linear-gradient(left, #151515, #444, #151515);
	top: 192px;
}

.webdesigntuts-workshop:after {
	background: #000;
	background: linear-gradient(left, #151515, #000, #151515);	
	top: 191px;
}

.webdesigntuts-workshop form {

    border-radius: 5px;
 
    display: inline-block;
    font-size: 0px;
    margin: 0px auto 0;
    /* padding: 20px; */
    position: relative;
    z-index: 1;
}

.webdesigntuts-workshop input {
	    background: #222;
    background: linear-gradient(#333, #222);
    border: 2px solid #D91E18;
    border-radius: 5px 0 0 5px;
    color: #888;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 400;
    height: 35px;
    margin: 0;
    padding: 0 16px;
    width: 600px;
    background: #ffffff;

}
.scWrapper{
    padding: 3px 0 0 54%;float:left
}
.ie .webdesigntuts-workshop input {
	line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}



.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
	color: #efe;
}

/*.webdesigntuts-workshop button {
	background: #009ed9;
	background: linear-gradient(#009ed9, #009ed9);
	box-sizing: content-box;
	
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 36px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
 -webkit-transition-duration: 0.5s; 
    transition-duration: 1s;
	width: 80px;
      border-radius:5px;
}	

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #fff;
	background: linear-gradient(#fff, #fff);
	color: #000;
	outline: none;
    border-top:2px solid #009ed9;
    border-right:2px solid #009ed9;
    border-bottom:2px solid #009ed9;
    border-radius:5px;
    -webkit-transition-duration: 0.5s; 
    transition-duration: 1s;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}*/

#overlay {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
}
.searchWrapper{
    padding-top:2%;margin-top: -10%;
}

.modal {
    display:    block;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: 
                url('Assets/Images/gears.svg') 
                50% 50% 
                no-repeat;
    
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
.googleAdsTop{
 
     width: 150px;
    height: 61px;
    position: absolute;
    border: 0;
    float: left;
    width: 40%;
    /* height: 100%; */
     position: absolute; 
    top: 0;
    left: 0; 
      display: none;
    z-index: 10;
    margin-left: 24%;
}

.sortByDropDown{
    color: #000;
    font-size: 9pt;
    margin-top: 6%;
    font-weight: bold;
    float: right;
    width: 100%;
}
.sortByDropDown .dropdown button{
    background-color: #222;
}
.allCategories{
     /* float: right; */
    width: 100%;
    /* margin-top: 2%; */
    height: 30px;
        background: #D91E18;
    position: relative;
    z-index: 5;
    color:#eee;
   
    }
.allCategories .dropdown {
    margin-top:-5px
}

.allCategories .dropdown button{    background-color: transparent;
    border: 0;
    height: 31px;
    color:#fff !important;
    font-size:13pt
    
}
.allCategories .dropdown button img {
        height: 28px;
    padding-top: 2px;
}
.allCategories .dropdown .dropdown-menu{
     position: relative; 
}
.allCategories a{
    color:#fff;
    cursor:pointer; 
}
.allCategories a + .sideMenuNav{
    display: block;
}
.allCategories a:hover{
    color:#fff;
 text-decoration: none;
}
.allCategories  .glyphicon{
   padding: 5px;
    color: #222;
} 

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.image h2 { 
        position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    font-size: 15pt;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    -webkit-transform: rotate(-33deg);
    /* margin: 7% 29px 13px 12px; */
    position: absolute;
    opacity: 0.7;
    font-size: 1.7em;
    /* width: 100%; */
    text-align: center;
    z-index: 1000;
    /* width: 65%; */
    text-align: center;
}

.socialIcons{
    position:absolute;
    width:15%;
    margin-left:15%;
    padding-top: 5px;
}
.socialIcons a{
    padding-left:5%
}


.button {
   display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D91E18), color-stop(100%,#D91E18));
    background: -moz-linear-gradient(center top, #D91E18 0%, #D91E18 100%);
    -webkit-box-shadow: 0px -5px 15px #D91E18 inset, 0px 0px 0px 1px #D91E18, 0px 0px 0px 1px #D91E18 inset;
    -moz-box-shadow: 0px -5px 15px #D91E18 inset, 0px 0px 0px 1px #D91E18, 0px 0px 0px 1px #D91E18 inset;
    box-shadow: 0px -5px 15px #D91E18 inset, 0px 0px 0px 1px #D91E18, 0px 0px 0px 1px #D91E18 inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px #D91E18;
    padding: 8px 10px;
    display: inline-block;
    text-align: center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
    color: #ffffff;
    font-weight: bold;
}
.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd564), color-stop(100%,#ffd564));
    background: -moz-linear-gradient(center top, #ffd564 0%, #ffd564 100%);
    -webkit-box-shadow: 0px -5px 15px #ffd564 inset, 0px 0px 0px 1px #ffd564, 0px 0px 0px 1px #ffd564 inset;
    -moz-box-shadow: 0px -5px 15px #ffd564 inset, 0px 0px 0px 1px #ffd564, 0px 0px 0px 1px #ffd564 inset;
    box-shadow: 0px -5px 15px #ffd564 inset, 0px 0px 0px 1px #ffd564, 0px 0px 0px 1px #ffd564 inset;
    text-shadow: 1px 1px 0px #000;
}


.buttonGetDeal {
    display: inline-block;
    background: #ffc835;
    -webkit-box-shadow: 0px 1px 0px 0px #ffd564 inset, 0px 0px 0px 4px #e6e6e6;
    -moz-box-shadow: 0px 1px 0px 0px #ffd564 inset, 0px 0px 0px 4px #e6e6e6;
    box-shadow: 0px 1px 0px 0px #ffd564 inset, 0px 0px 0px 4px #e6e6e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-shadow: 0px 1px 0px #ffe6a5;
    padding: 6px 30px;
    border-color: #ebae3e;
    border-width: 1px;
    border-style: solid;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    color: #4f2f2f;
    font-weight: bold;
}
.buttonGetDeal:hover {
    background: #ffd200;
    -webkit-box-shadow: 0px 1px 0px 0px #ffe04f inset, 0px 0px 0px 4px #ffed99;
    -moz-box-shadow: 0px 1px 0px 0px #ffe04f inset, 0px 0px 0px 4px #ffed99;
    box-shadow: 0px 1px 0px 0px #ffe04f inset, 0px 0px 0px 4px #ffed99;
    border-color: #ffc835;
}


.button:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(100%,#c41313));
    background: -moz-linear-gradient(center top, #ff0000 0%, #c41313 100%);
    -webkit-box-shadow: 0px -5px 15px #ff6956 inset, 0px 0px 0px 1px #e81313, 0px 0px 0px 1px #ff7669 inset;
    -moz-box-shadow: 0px -5px 15px #ff6956 inset, 0px 0px 0px 1px #e81313, 0px 0px 0px 1px #ff7669 inset;
    box-shadow: 0px -5px 15px #ff6956 inset, 0px 0px 0px 1px #e81313, 0px 0px 0px 1px #ff7669 inset;
    text-shadow: 1px 1px 0px #c41313;
}
.getDealBtn{
    margin: 20% 0 0 25%;
}
.breadcrumb {
	/*centering*/
	display: inline-block;
	
	overflow: hidden;
	background: transparent;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
}


.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: #333;
	background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
	
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}

.breadcrumb > .active {
    color: #fff;
}
.flat a, .flat a:after {
	background: #D91E18;
	color: #fff;
	transition: all 0.5s;
    font-weight: bold
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: #D91E18;
}
.dropdown.SortByDrpDwn {
    margin-right: 46%;
    margin-top: -9.5%;
}
}
