@media screen and (max-width:1500px) {
html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    margin: -10px 0 0 0;
    padding: 0;
    
    
}
#sideMenu{
    float:left;width:27%;display: none;
    
}
.bodyWrapper{
    width:86%;float:left; 
    
}
#sticky.stick{
    margin-top: 0 !important;
    
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
.googleAds{
        float: right;
    width: 13%;
    background-color: #ffffff;
    height: 500px;
    -webkit-box-shadow: 4px 0px 2px -2px #787878;
    position: fixed;
    margin: 15% 0 0 87%;
}
.dropdown:hover .dropdown-menu, .dropdown-menu:hover {
    display: block;
}
/*Menu Section ****CUSTOM** DESKTOP* START */
.menuSection {
          min-height: 167px;
    /* background-color: #CD3333; */
    float: left;
    width: 100%;
    /* background-image: url('Assets/Images/ecommBanner.png'); */
    background-repeat: no-repeat;
    background-size: 39%;
    background-position: right -3px;
    -webkit-box-shadow: 4px 0px 2px 3px #787878;
    /* border-bottom: 1px solid #ee1111; */
}

.menuLists{
     margin: 34px 0 0 18%;
}
.menuSection img{
   /* opacity: 0.11*/
}

.menuLists > ul >li {
    display: inline-block;
    padding: 26px 4px 0px 5px;
    font-size: 20pt;
    font-weight: lighter;
  
}
.menuLists a {
     text-decoration: none;
       color: #000000;
    position: relative;
    display: inline-block;
    /* margin: 15px 25px; */
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* font-weight: 400; */
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
     font-size: 10pt !important;
     color:#ffffff
}
    .menuLists a:hover,
    .menuLists a:focus {
        outline: none;
    }
  
.menuLists a {
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

/*.menuLists a::before,
.menuLists a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #dbfabe;
        
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.menuLists a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.menuLists a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.menuLists a:hover,
.menuLists a:focus {
	color: #dbfabe;
}

.menuLists a:hover::before,
.menuLists a:focus::before,
.menuLists a:hover::after,
.menuLists a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}*/
.showMenuOnMobile {
    display: none;
}
.logoSection {
                height: 149px;
    width: 173px;
 
    margin-top: 0%;
    background-image: url('Assets/Images/Logo1.png');
    background-repeat: no-repeat;
    background-size: 100% 125px;
  
}

.logoSection div {

-webkit-transform: rotate(312deg);
-moz-transform: rotate(312deg);
-o-transform: rotate(312deg);
writing-mode: lr-tb;
    color: #CD3333;
    font-size: 19pt;
    
}
.searchSection {
     
    margin: 0% 0 0 18%;
 /*   background-color: #CD3333*/
    color: #ffffff !important;
    width:640px;

}
    .searchSection > input {
          width: 449px;
    height: 31px;
    box-sizing: border-box;
    padding: 3px 0 0 20px;
   
    border: 2px solid #222;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffffff;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: #000000 !important;
    background-image: url('Assets/images/Search.png');
    background-repeat: no-repeat;
    content: 'Search here..';
    background-position: right -12px;
    }
.searchSection >input:focus, .searchSection >input:hover  {
    width: 449px;
     border: 2px solid #222;
      background-color: #ffffff;
       color:#000000 !important
       
}
.dropdown{
           float: right;
    margin-top: -10.5%;
  
}
.btn-primary{
    color:#000000 !important;
}
.vendorDropdown{
    display: none;
}
.dropdown button{
 background-color: #ffffff;
 border:0;
}
.dropdown button:hover, .dropdown button:focus{
 background-color: #ffffff;
}
.dropdown-menu li a img{
    opacity:1;
}
.dropdown button img{
    opacity:1;
}

.dropdown-menu li a span{
    font-weight: bold;
    padding:10px;
}
/*Menu Section ****CUSTOM** DESKTOP* END */


/*Menu Section ****CUSTOM** MOBILE* START */



.bodyWrapper .productWrapper{
     float:left;width:86%;
 position: absolute;
    z-index: -1;
}





.button {
     /* Green */
    border: none;
    color: white;
    padding: 10px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
    font: normal 10px 'Cabin', helvetica, arial, sans-serif;
    font-weight: bold
} 

.button span {
    padding:5px
}

    .button1 {
    background-color:#009ed9;
    color: #ffffff;
    border-radius: 2px;
    
    border: 1px solid #ffffff;
}
    
.button1:hover {
    background-color: #FFCC00;
    color: white;
    border: 1px solid #f9a114;
}   
.moreButton {
         background-color: #e11111;
    color: #ffffff;
        border-radius: 2px;
  
    }
.moreButton:hover {
          background-color: #e11111;
    color: white;
 
     
    }
    .glyphicon{
        color:#000;
        padding: 0 16px 0 0;
       
    }
    .dropdown-menu {
        background-color: #ffd564;
    }
    .dropdown-menu > li > a{
        color:#000;
        font-size: 15pt;
    }
    .glyphicon:hover{
        color:#000;
        margin:5%
    }
    .products{
          border-radius: 5px;
    color: #222;
    width: 295px;
    height: 250px;
    margin: 1px 3% 3% 34px;
    padding: 2%;
        
       
    }
    .products:hover{
 background: #ffffff;
 color:#ffffff;
 -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    } 
    h5{
              font: 13px 'Cabin', helvetica, arial, sans-serif !important;
   
    padding: 2% 0 6% 0% !important;
    /* font-weight: bold !important; */
    color: #222 !important;
    }

    .wrapper {
height: 374px;
    background: white;
    border-radius: 10px;
    width: 275px;
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
}
.products .wrapper div{
    margin-top:83%
}
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#ee1111)); 
  background-image: -webkit-linear-gradient(top, #222, #ee1111); 
  background-image:    -moz-linear-gradient(top, #222, #ee1111); 
  background-image:     -ms-linear-gradient(top, #222, #ee1111); 
  background-image:      -o-linear-gradient(top, #222, #ee1111); 
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​
.productWrapper{
   float:left;
   width:73%;
}
#footnote{
    width: 135px !important;
    height: 50px !important;
}
#footnote .clearfix{
     width: 135px !important;
    height: 50px !important;
}
#footnote .connect a {
	background: url('Assets/Images/icons.png') no-repeat;
}

#footnote .connect {
	float: left;
	display: inline-block;
	margin: 0 10px;
	padding: 6px 0;
}
#footnote .connect a {
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-right: 6px;
}
#footnote .connect a.facebook {
	background-position: 0 -112px;
}
#footnote .connect a.twitter {
	background-position: 0 -140px;
}
#footnote .connect a.googleplus {
	background-position: 0 -168px;
}
.wrapper > a > img,  .waitingimg{ 
    height:143px;
}
#left, #right {
    float: left;
    max-width: 3em;
}

.showMoreButton {
    min-height: 1.5em;
    display: inline-block;
    padding: 12px 36px;
    margin: 40px 5px 5px 0px;
    cursor: pointer;
    opacity: 0.9;
    float:left;
    color: #FFF;
    font-size: 1em;
    letter-spacing: 1px;
    text-shadow: rgba(0,0,0,0.9) 0px 1px 2px;
    
    background: #434343;
    border: 1px solid #eee;
   
    -webkit-border-radius: 4px;
     -khtml-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
     -khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
            box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    -webkit-transition: all 0.1s linear;
     -khtml-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
            margin-left: 40%
}
.showMoreButton:hover {
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
     -khtml-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -o-box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
            box-shadow: rgba(0,0,0,0.5) 0px 2px 5px, inset rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(0,0,0,0.25) 0px 0px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}
.showMoreButton:active {
    -webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px,inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
     -khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px,inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
            box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0) 0px 1px 0px, inset rgba(0,0,0,0.5) 0px 0px 5px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
}
.shine {
    display: block;
    position: relative;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    padding: 0px 12px;
    top: -12px;
    left: -24px;
    height: 1px;
    -webkit-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
     -khtml-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
       -moz-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
         -o-box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
            box-shadow: rgba(255,255,255,0.2) 0px 1px 5px;
    -webkit-transition: all 0.3s ease-in-out;
     -khtml-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.showMoreButton:hover .shine {left: 24px;}
.showMoreButton:active .shine {opacity: 0;}

.showMoreButton.gray {background: #eee;}
.showMoreButton.blue {background: #3a617e;}
.showMoreButton.green {
    background: #477343;
    padding: 2px 14px;
    /* margin: 40px 5px 5px 0px; */
    margin:0;}
.showMoreButton.red {
        background: #00a300;
    padding: 2px 15px;
    /* margin: 40px 5px 5px 0px; */
    margin: 0;
    min-height: 2.5em;
    }
.showMoreButton a, .showMoreButton a:hover{
    color:#ffffff;
    text-decoration: none;
    font: normal 15px 'Cabin', helvetica, arial, sans-serif;
}
.text-ginormous {
      font-size: 52px;
      color:#000
    }

    .navbar .container.fixed-height {
      height: 46px;
    }

    .brand.airbnb.center {
      float: none;
      margin: 7px auto 0 auto;
    }
  
    #noProducts h2,#noProducts h1{
        padding:1%;
        color:#ee1111;
    }
    .breadcrumbNav{
        color:#000;
        font-size: 9pt;
        margin-top:2%;
         font-weight: bold;
    }
    .breadcrumbNav span{
        font-weight: bold;
        color: #ee1111;
    }
    @import url(http://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop {

	height: 52px;
	position: absolute;
	text-align: right;
	width:  79%;
}


.webdesigntuts-workshop:before {
	background: #444;
	background: linear-gradient(left, #151515, #444, #151515);
	top: 192px;
}

.webdesigntuts-workshop:after {
	background: #000;
	background: linear-gradient(left, #151515, #000, #151515);	
	top: 191px;
}

.webdesigntuts-workshop form {

    border-radius: 5px;
 
    display: inline-block;
    font-size: 0px;
    margin: 0px auto 0;
    /* padding: 20px; */
    position: relative;
    z-index: 1;
}

.webdesigntuts-workshop input {
	    background: #222;
    background: linear-gradient(#333, #222);
    border: 2px solid #86c840;
    border-radius: 5px 0 0 5px;
    color: #888;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 400;
    height: 47px;
    margin: 0;
    padding: 0 10px;
    width: 681px;
    background: #ffffff;

}

.ie .webdesigntuts-workshop input {
	line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}



.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
	color: #efe;
}

/*.webdesigntuts-workshop button {
	background: #009ed9;
	background: linear-gradient(#009ed9, #009ed9);
	box-sizing: content-box;
	
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 36px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
 -webkit-transition-duration: 0.5s; 
    transition-duration: 1s;
	width: 80px;
      border-radius:5px;
}	

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #fff;
	background: linear-gradient(#fff, #fff);
	color: #000;
	outline: none;
    border-top:2px solid #009ed9;
    border-right:2px solid #009ed9;
    border-bottom:2px solid #009ed9;
    border-radius:5px;
    -webkit-transition-duration: 0.5s; 
    transition-duration: 1s;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}*/

#overlay {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
}

.modal {
    display:    block;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
    
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
.googleAdsTop{
       width: 150px;
    height: 61px;
    position: fixed;
    border: 0;
    float: left;
    width: 40%;
    /* height: 100%; */
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 10;
    margin-left: 30%;
}

.sortByDropDown{
    color: #000;
    font-size: 9pt;
    margin-top: 12%;
    font-weight: bold;
    float: right;
    width: 100%;
}
.sortByDropDown .dropdown button{
    background-color: #222;
}
.allCategories{
     /* float: right; */
    width: 100%;
    /* margin-top: 2%; */
    height: 30px;
        background: #86c840;
    position: relative;
    z-index: 5;
    color:#eee;
   
    }
.allCategories .dropdown {
    margin-top:-5px
}

.allCategories .dropdown button{    background-color: transparent;
    border: 0;
    height: 31px;
    color:#fff !important;
    font-size:13pt
    
}
.allCategories .dropdown button img {
        height: 28px;
    padding-top: 2px;
}
.allCategories .dropdown .dropdown-menu{
     position: absolute; 
}
.allCategories a{
    color:#fff;
    cursor:pointer;
}
.allCategories a + .sideMenuNav{
    display: block;
}
.allCategories a:hover{
    color:#fff;
 text-decoration: none;
}
.allCategories  .glyphicon{
   padding: 5px;
    color: #222;
} 

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.image h2 { 
        position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    font-size: 15pt;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    -webkit-transform: rotate(-33deg);
    /* margin: 7% 29px 13px 12px; */
    position: absolute;
    opacity: 0.7;
    font-size: 1.7em;
    /* width: 100%; */
    text-align: center;
    z-index: 1000;
    /* width: 65%; */
    text-align: center;
}

.socialIcons{
    position:absolute;
    width:15%;
    margin-left:15%;
    padding-top: 5px;
}
.socialIcons a{
    padding-left:5%
}


.button {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86c840), color-stop(100%,#86c840));
    background: -moz-linear-gradient(center top, #86c840 0%, #86c840 100%);
    -webkit-box-shadow: 0px -5px 15px #a6ed3d inset, 0px 0px 0px 1px #569400, 0px 0px 0px 1px #c4fb6d inset;
    -moz-box-shadow: 0px -5px 15px #a6ed3d inset, 0px 0px 0px 1px #569400, 0px 0px 0px 1px #c4fb6d inset;
    box-shadow: 0px -5px 15px #a6ed3d inset, 0px 0px 0px 1px #569400, 0px 0px 0px 1px #c4fb6d inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px #66a820;
    padding: 13px 18px;
    display: inline-block;
    text-align: center;
    font-family: Lucida Grande;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}
.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd564), color-stop(100%,#ffd564));
    background: -moz-linear-gradient(center top, #ffd564 0%, #ffd564 100%);
    -webkit-box-shadow: 0px -5px 15px #ffd564 inset, 0px 0px 0px 1px #ffd564, 0px 0px 0px 1px #ffd564 inset;
    -moz-box-shadow: 0px -5px 15px #ffd564 inset, 0px 0px 0px 1px #ffd564, 0px 0px 0px 1px #ffd564 inset;
    box-shadow: 0px -5px 15px #ffd564 inset, 0px 0px 0px 1px #ffd564, 0px 0px 0px 1px #ffd564 inset;
    text-shadow: 1px 1px 0px #000;
}


.buttonGetDeal {
    display: inline-block;
    background: #ffc835;
    -webkit-box-shadow: 0px 1px 0px 0px #ffd564 inset, 0px 0px 0px 4px #e6e6e6;
    -moz-box-shadow: 0px 1px 0px 0px #ffd564 inset, 0px 0px 0px 4px #e6e6e6;
    box-shadow: 0px 1px 0px 0px #ffd564 inset, 0px 0px 0px 4px #e6e6e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-shadow: 0px 1px 0px #ffe6a5;
    padding: 6px 30px;
    border-color: #ebae3e;
    border-width: 1px;
    border-style: solid;
    font-family: Arial, Helvetica, Sans-serfi;
    font-size: 14px;
    color: #4f2f2f;
    font-weight: bold;
}
.buttonGetDeal:hover {
    background: #ffd200;
    -webkit-box-shadow: 0px 1px 0px 0px #ffe04f inset, 0px 0px 0px 4px #ffed99;
    -moz-box-shadow: 0px 1px 0px 0px #ffe04f inset, 0px 0px 0px 4px #ffed99;
    box-shadow: 0px 1px 0px 0px #ffe04f inset, 0px 0px 0px 4px #ffed99;
    border-color: #ffc835;
}


.button:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(100%,#c41313));
    background: -moz-linear-gradient(center top, #ff0000 0%, #c41313 100%);
    -webkit-box-shadow: 0px -5px 15px #ff6956 inset, 0px 0px 0px 1px #e81313, 0px 0px 0px 1px #ff7669 inset;
    -moz-box-shadow: 0px -5px 15px #ff6956 inset, 0px 0px 0px 1px #e81313, 0px 0px 0px 1px #ff7669 inset;
    box-shadow: 0px -5px 15px #ff6956 inset, 0px 0px 0px 1px #e81313, 0px 0px 0px 1px #ff7669 inset;
    text-shadow: 1px 1px 0px #c41313;
}


}
